@model BackEndDeveloperAssessment.Models.Student

@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolId" class="control-label"></label>
                @Html.DropDownListFor(x => Model.SchoolId, new SelectList(ViewBag.Schools, "Id", "Name"), "Select School", htmlAttributes: new { @class = "form-control", id = "SchoolId" })
                @Html.ValidationMessageFor(x => x.SchoolId, "", new { @class = "text-danger" })
                <button asp-action="ModalAction" asp-controller="Students" class="btn btn-primary" data-target="#modal-container" data-toggle="modal">Add School</button>
            </div>
            <div class="form-group">
                <label asp-for="Major" class="control-label"></label>
                <input asp-for="Major" class="form-control" />
                <span asp-validation-for="Major" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 ms-auto">
                        @Html.Partial("../Schools/Create")
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="school-create">Create</button>
                <button type="button" class="btn btn-secondary" id="btnclose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <script>
        $("#school-create").click(function () {
            addSchool = {
                "Name": $("input#Name").val(),
                "Address1": $("input#Address1").val(),
                "Address2": $("input#Address2").val(),
                "City": $("input#City").val(),
                "State": $("input#State").val(),
                "ZipCode": $("input#ZipCode").val(),
            }

            var options = {};
            options.url = "@Url.Action("Create","Schools")";
            options.type = "POST";
            options.data = JSON.stringify(addSchool);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert('New school successfully created!');
                $('select#SchoolId').append($('<option>', {
                    value: msg.id,
                    text: msg.name
                }));
            };
            options.error = function () {
                alert("Error while creating school!");
            };
            $.ajax(options);
        });
    </script>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
